@import "../../styles/mixins";

.container{
    position: relative;
}

.banner{
    @include flex-column;
    height: 660px;
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
    transition: background-image 2s ;
    position: relative;
    .logo{
        margin: 155px 0 47px 0;
    }
}

.room-cards{
    max-width: 944px;
    @include flex-between;
    flex-wrap: wrap;
    padding: 0 20px;
    position: absolute;
    top: 553px;
    left: 0;
    right: 0;
    margin: auto;   
}

.loading{
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 1023px){
    .room-cards{
        width: 622px;
    }
}

@media screen and (max-width: 600px){
    .room-cards{
        width: 300px;
        padding: 0;
    }
}