.banner{
    height: 660px;
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),url('../../img/room_4-2.jpeg') no-repeat center bottom /cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .logo{
        margin: 155px 0 47px 0;

    }

    

    
}