
.container{
    position: relative;
}

.banner{
    height: 660px;
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image 2s ;
  
    .logo{
        margin: 155px 0 47px 0;
    }
}

.room-cards{
    max-width: 944px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    position: absolute;
    top: 553px;
    left: 0;
    right: 0;
    margin: auto;   
}

.loading{
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 1023px){
    .room-cards{
        width: 622px;
    }
}

@media screen and (max-width: 622px){
    .room-cards{
        width: 300px;
    }
}