@import "../../styles/mixins";

.loading {
  text-align: center;
  margin-top: 30%;
}

.room-photo {
  height: 596px;
  background-color: #f7f7f7;
  position: relative;

  .logo {
    position: absolute;
    top: 32px;
    left: 50px;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
}

.room-info {
  max-width: 1200px;
  margin: auto;
  padding: 47px 40px;
  display: flex;
  justify-content: center;

  .detail {
    max-width: 480px;
    @include flex-column;
    align-items: flex-start;
    .name {
      margin: 0;
      font-size: 36px;
      font-weight: 500;
    }
    .description-short {
      margin-top: 30px;
      line-height: 30px;
    }
    .description {
      font-size: 12px;
      margin-top: 20px;
      line-height: 20px;
    }
    .divider {
      display: flex;
      margin: 30px 0 20px -5px;
      div {
        height: 14px;
        width: 14px;
        border-top: 1px solid #000000;
        transform: rotate(45deg);
      }
    }
    .checkInAndOut {
      display: flex;
      div {
        @include flex-column;
        align-items: flex-start;
        span:last-child {
          font-size: 21px;
          line-height: 30px;
        }
        &:last-child {
          margin-left: 96px;
        }
      }
    }
  }

  .room-price {
    @include flex-column;
    align-items: flex-end;
    padding-left: 38px;
    .normal-day {
      font-size: 30px;
      line-height: 40px;
    }
    .holiday-day {
      font-size: 16px;
      margin-top: 10px;
    }
    span {
      line-height: 27px;
    }
    span:nth-child(2n) {
      color: #6d7278;
    }
  }
}
