@import '../../../styles/mixins';



.message{
  font-weight: 400;
  height: 60%;
  margin: 40px auto 20px auto;
  max-width: 423px;
  padding: 0 30px;
}

.back-btn{
  @include btn-default;
  background-color: #484848;
  color: #FFFFFF;
  width: 85px;
  height: 37px;
  margin: 32px 43px 32px auto;

}