@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  letter-spacing: 1.25px;
  font-size: 14px;
  color: #000000;

  a { 
    text-decoration: none; 
    color: inherit;
  }
}