@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

.booking-dialog{
.MuiPaper-root{
  width: 400px;
}
}

.calendar-dialog{
  
  .MuiBackdrop-root{
    background: none;
  }

}

.MuiPopover-paper {
  margin-top: 10px;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
