

.room-card{
    height: 350px;
    width: 300px;
    background-color: #F7F7F7;
    margin-bottom: 58px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 9px 0 rgba(0,0,0,0.18);

    .room-photo{
        width: 100%;
        height: 280px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }

    .room-info{
        background-color: #F7F7F7;
        box-sizing: border-box;
        padding: 23px 24px 17px 30px;
        height: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        transition: height .3s;
        .room-name{
            font-size: 14px;
        }
        .price-info{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex: 1;
            opacity: 0;
            transition: opacity .3s;
                span:first-child{
                    font-size: 21px;
                    span{
                        font-size: 12px;
                        color: inherit;
                    }
                }
                span:last-child{
                    font-size: 12px;
                    color: #6D7278 ;
                }            
        }      
    }

    &:hover .room-info{
        height: 110px;
    }

    &:hover .price-info{
        opacity: 1;  
    }  
    &:hover .room-photo{
        opacity: .8;

    }
}

