@import "../../../styles/mixins";

.contact{
    @include flex-center;

    .fanpage{
        padding: 0 35px 0 20px;
        .brand{
            width: 25px;
            margin-left: 11px;
        }
    }
    .contact-wrap{
        padding-left: 27px;
        border-left: #FFFFFF 1px solid;
        height: 91px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contact-info{
            color: #FFFFFF;
            display: flex;
            .icon{
                width: 20px;
                margin-right: 21px;
            }
            span{
                font-size: 14px;
            }
        }

    }

    
    
}

@media screen and (max-width: 600px){
    .contact{
        flex-direction: column;
        .contact-wrap{
            margin-top: 20px;
            border: none;
            border-top: #FFFFFF 1px solid;
            padding: 20px 0 0 0;
        }
    }
    
}