.rdrCalendarWrapper {
  height: fit-content;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.rdrDayToday .rdrDayNumber span {
  color: #aeb9bf !important;
  &:after {
    display: none;
  }
}

.rdrDayToday .rdrStartEdge {
  background: none;
}

@media screen and (max-width: 600px) {
  .rdrCalendarWrapper {
    width: 300px;
  }
}