@import "../../../styles/mixins";

.date-picker {
  width: 350px;
  padding-left: 40px;
  @include flex-column;
  align-items: flex-start;

  .booking-btn {
    width: 118px;
    height: 53px;
    margin-top: 40px;
    background-color: #575757;
    color: #ffffff;
    @include btn-default;
    font-size: 16px;
    &.disabled {
      background-color: #5757579d;
    }
  }
}
