@import '../../../styles/mixins';

.date-picker{
  width: 350px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .booking-btn{
    width: 118px;
    height: 53px;
    margin-top: 40px;
    background-color: #575757;
    color: #FFFFFF;
    @include btn-default;
    font-size: 16px;
  }
  
}